
{% extends 'base.html' %}
{% block content %}
<div class="card-header d-flex justify-content-between ">
    <h2>TODO APPLICATION</h2>
  </div>
  <div class="card-body">
      
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Add Todo</h5>
        <p class="card-text">Create your work list to organize  </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

      <br>
  </div>
  <br>
{% endblock content %}
