{% extends 'base.html' %}
{% block content %}


    <div class="card-header d-flex justify-content-between ">
      <a href="{% url 'todo:create' %}" class="btn btn-success btn-sm pt-2">Add New Todo</a>
      <h3 class="text-center ml-4" >TODO LIST</h3>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      

    </div>
    <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">SN</th>
                <th scope="col">Title</th>
                <th scope="col">Is_Completed</th>
                <th scope="col">Action</th>            
              </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
              <tr>
                <td >{{forloop.counter}}</td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.is_completed }}</td>
                <td class="d-flex justify-content-between">
                    <a href="{% url 'todo:detail' todo.id %}"><i class="bi bi-eye-fill text-success"></i></a>
                    <a href="{% url 'todo:update' todo.id %}"><i class="bi bi-pen-fill text-primary"></i></a>
                    <a href="{% url 'todo:delete' todo.id %}"><i class="bi bi-trash-fill text-danger"></i></a>
                    
                </td>
              </tr>
             {% endfor %}
            </tbody>
          </table>
    </div>
    

{% endblock content %}
